body { background: color(display-p3 .5 .5 .5); color: white; font: 3rem arial; }
/* linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red) */
.nav {
  display: grid;
  grid: 1 / 1;
  place-content: end;
}

.nav a {
  text-decoration: none;
}

.nav a.hamburger {
  color: hotpink;
  margin-right: 25px;
}

ul {
  display: flex;
  gap: .8rem;
  list-style: none;
  margin: auto;
  padding: 0;
  text-align: center;
}

.sub {
    border: none;
  display:none;
  margin-right: 15vw;
  position: absolute; 
  /* for mobile view */
/*     relative; */

}

li:has(.sub):hover > * {
  display: grid;
}

.menu { display: flex; flex-direction: column; }
ul.menu {
  display: none;
  position: absolute;
  right: -50px;
  top: 60px;
}

.hamburger:hover ~ .menu {
  background: violet;
  display: flex;
  flex: 1 1 fit-content;
  padding: 0;
  place-content: start;
}
.hamburger ~ .menu:hover {
    background: violet;
    display: flex;
    flex: 1 1 fit-content;
    padding: 0;
    place-content: start;
  
}


.nav .menu li:hover {
  background: lawngreen;
  border: 2px solid red;
}
  @media screen and (min-width: 1200px){
    .nav .hamburger  {
      visibility: hidden;
    }
    
    .nav .menu  {
      display: flex;
      flex: 1 1 fit-content;
      flex-direction: row;
        top: 20px;
    }
  }