body { background: color(display-p3 .5 .5 .5); color: white; font: 3rem arial; }
/* linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red) */

.header {
  display: grid;
  grid: 1fr / 1fr 1fr;
}
.nav {
  place-self: end;
}
.nav a {
  text-decoration: none;
}

.hamburger {
  margin-right: 25px;
}

ul.menu {
  display: none;
  flex-direction: column;  
  gap: .8rem;
  list-style: none;
  margin: auto;
  padding: 0;
  position: absolute;
  right: -50px;
  text-align: center;
  top: 60px;
}

.sub {
    border: none;
  display:none;
  list-style: none;
  margin-right: 15vw;
  position: absolute; 
  /* for mobile view */
/*     relative; */

}

li:hover .sub {
  display: grid;
}

.hamburger:hover ~ .menu {
  /* background: violet; */
  display: flex;
  flex: 1 1 fit-content;
  padding: 0;
  place-content: start;
}
.hamburger ~ .menu:hover {
    /* background: violet; */
    display: flex;
    flex: 1 1 fit-content;
    padding: 0;
    place-content: start;
  
}
.hamburger:hover
, .hamburger:has(+ .menu:hover)
, .nav .menu li:hover
{
    background: cyan;
}


  @media screen and (min-width: 1200px){
    .nav .hamburger  {
      visibility: hidden;
    }
    
    .nav .menu  {
      display: flex;
      flex: 1 1 fit-content;
      flex-direction: row;
        top: 20px;
    }
  }